@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
:root{
    --primary_orange: #FC8A06;
    --white: #FFFAFA;
    --darkBlue: #03081F;
    --black: #252525;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.form-container{
    position: relative;
    background-color: var(--primary_orange);
    width: 70%;
    height: 70dvh;
    border-radius: 50px;
    overflow: hidden;
}
.form-box{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black);
    text-align: center;
}

.form:not(.hidden) {
    z-index: 2;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1.8s ease-in-out;
}
h1{
    font-size: 3rem;
    margin: 10px 0;
}
input{
    width: 80%;
    margin: 10px;
    position: relative;
    padding: 15px;
    background-color: var(--white);
    border-radius: 10px;
    border: 2px solid var(--black);
}
input::placeholder{
    font-size: clamp(14px, 1vw, 2.5vw);
}
.firstname_lastname{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px;
}
.firstname_lastname input{
    width: 50%;
    margin: 0 ;
}
a{
    margin: 15px 0 15px;
}
.btn {
    font-size: 1.2rem;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: var(--primary_orange);
    background-color: var(--darkBlue);
    cursor: pointer;
}
.hidden{
    display: none;
}

.toggle-box{
    position: absolute;
    width: 100%;
    height: 100%;
}
.toggle-box::before{
    content: "";
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background-color: var(--darkBlue);
    border-radius: 150px;
    z-index: 2;
    transition: 1s ease-in-out;
}
.form-container.active .toggle-box::before{
    left: 50%;
}
.form-container.active .form-box{
    right: 50%;
}

.toggle-left{
    left: 0;
    transition-delay: 0s;
}
.form-container.active .toggle-left{
    left: -50%;
    transition-delay: .1s;
}
.toggle-right{
    right: -50%;
    transition-delay: .1s;
}
.form-container.active .toggle-right{
    right: 0;
    transition-delay: 0s;
}

.btn-login, .btn-signup{
    border: 2px solid var(--primary_orange);
    color: var(--primary_orange);
}
.toggle-panel {
    color: var(--primary_orange);
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    transition: 1.2s ease-in-out;
}
h1{
    font-size: clamp(4vw, 3vw, 2.5vw);
}
.toggle-panel p {
    font-size: clamp(2vw,3vw,2rem);
    margin-bottom: 20px;
}

@media screen and (width<=840px){
    .form-container{
        width: 60%;
        height: 70vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .form-box{
        width: 100%;
        height: 70%;
        bottom: 0;
    }
    .toggle-box::before{
        position: absolute;
        width: 100%;
        height: 300%;
        top: -270%;
        left: 0;
    }
    .form-container.active .toggle-box::before{
        left: 0;
        top: 70%;
    }
    .toggle-panel{
        width: 100%;
        height: 30%;
    }
    .toggle-panel .toggle-left{
        top: 0;

    }
    .form-container.active .toggle-left{
        left:0;
        transform: translateY(-100%);
        transition: 1s ease-in-out;
        transition-delay: 0s;
    }

    .toggle-panel.toggle-right{
        right: 0;
        bottom: -30%;
    }
    .form-container.active .toggle-right{
        bottom: 0;
    }
    .form-container.active .form-box{
        right: 0;
        bottom: 30%;
    }
}
